*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: #333;

}

button{
    cursor: pointer;
    background: transparent;
    border: 0;
    
}

button :hover{
    background-color: #333;
}
/*----------------------------------------------------------------------------------------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 9%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header {
    background-color: transparent;
    position: fixed;
    width: 100%;

}

header>.interface {
    display: flex;
    /* fica um lado do outro elemento*/
    align-items: center;
    justify-content: space-between;
    /* logo fica de um lado e elementos da outroS*/

}

header .logo-cabecalho img {
    max-width: 100px;
}

header nav.menu-desktop ul {
    display: flex;
    /* fica um lado do outro elemento*/
    align-items: center;
    list-style: none;
    /* tira a bolinha*/
    gap: 56px;
    /*separa a distancia dos links*/
}

header nav.menu-desktop a {
    color: var(--corBranca);
    text-decoration: none;
    /*tira o supliahdo*/
    transition: .5s;
    /*da um delei quando muda de cor*/
}

/*quando pasa o mause por cima do link*/
header nav.menu-desktop a:hover {
    color: var(--corDois);
}
.logo{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

nav .cart-icon{
    position: relative;
    font-size: 30px;
    color: #333;
    display: flex;
}

nav .cart-icon .cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    display: none;
}
/*--------------------------*/
.product-collection{
    padding: 100px 9% 30px;
}

.product-collection h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
}

.product-collection .a{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   
    column-gap: 10px;
     row-gap: 1em;
}

.product-collection .img-box{
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.product-collection .img-box img {
    width: 100%;
    transition: 0.5s;
}

.product-collection .img-box:hover img{
    transform: scale(1.1);
}

.product-collection .title{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.product-collection .price{
    display: block;
    font-weight: bold;
    margin-top: 5px;
}